


<!-- Main content -->
<section class="content">	
	<div class="box box-warning ">
		<div class="box-header with-border">
			<h3 class="box-title">
				Register User 
				<span class="alert alert-success" *ngIf="status=='success'">Record saved!</span>
				<span class="alert alert-danger" *ngIf="status=='error'">Error! {{ status.msg }}</span>
			</h3>
		</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form #newUserForm="ngForm" (ngSubmit)="onSubmit()">
		<div class="box-body">
			<div class="row">

				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">						
						<label for="id">* username:</label>
						<input 
							type="text" class="form-control input-sm" id="username" 
							name="username" #username="ngModel" 
							[(ngModel)] = "user.username" 
							placeholder="username..." required
						>
						<span class="text-small" 
							*ngIf="!username.valid && username.touched">
							El nombre de usuario no es válido
						</span>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<label for="id">* Password:</label>
						<input type="password" class="form-control input-sm" id="password" 
							name="password" placeholder="password..." #password="ngModel" 
							[(ngModel)] = "user.password" required
						>
						
						<span class="text-small" *ngIf="!password.valid && password.touched">
							El password no es válido
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group ">
						<label>Group</label>
						<select class="form-control input-sm" id="group" name="group" 
							#group="ngModel" [(ngModel)] = "user.group"
						>
							<option value="">Select Group</option>
							<option value="1">Admin</option>					
						</select>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group ">
						<label>Membership</label>
						<select class="form-control input-sm" id="membership" 
							name="membership" #membership="ngModel" 
							[(ngModel)] = "user.membership"
						>
							<option value="">Select membership</option>
							<option value="1">membership</option>	
						</select>
					</div>
				</div>
							
			</div>
			<!-- /.row -->
		</div>				
		<!-- /.box-body -->

		<div class="box-footer">
			<button type="submit" class="btn btn-app" [disabled] = "!newUserForm.form.valid">
				<i class="fa fa-hdd-o"></i> Save
			</button>
		</div>
		<!-- /.box-footer -->
	</form>
	</div>
	<!-- /.box-warning -->
    
</section>