<!-- Main content -->
<section class="content">	
	<div class="box box-warning ">
		<div class="box-header with-border">
			<h3 class="box-title">
				Register User 
				<span class="alert alert-success" *ngIf="status=='success'">Record saved!</span>
				<span class="alert alert-danger" *ngIf="status=='error'">Error! {{ status.msg }}</span>
			</h3>
		</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form  #f="ngForm" (ngSubmit)="onSubmit(f)">
		<div class="box-body">
			<div class="row">

				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">						
						<label for="id">* username:</label>
						<input 
							type="text" class="form-control input-sm" id="description" 
							name="description" [(ngModel)]="user.description"						
							placeholder="username..." 
							[readonly] = "editMode"
						>
						
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">						
						<label for="id">* password:</label>
						<input 
							type="password" class="form-control input-sm" id="password" 
							name="password" [(ngModel)]="user.password"						
							placeholder="password..." 							
						>
						
					</div>
				</div>
				
			</div>
			<div class="row">
				

		<div class="col-xs-12 col-sm-6 col-md-6 form-group">
		<label>Memberships</label>
		<select multiple name="topics" class="form-control" [(ngModel)]="user.topics">
			<option *ngFor="let topic of topics" [value]="topic.value">{{topic.value}}</option>
		</select>
		</div>
				{{ username }} {{ membership }}
			</div>
			<!-- /.row -->
		</div>				
		<!-- /.box-body -->

		<div class="box-footer">
			<button type="submit" class="btn btn-app" >
				<i class="fa fa-hdd-o"></i> {{ editMode ? "update" : "Save" }}
			</button>
		</div>
		<!-- /.box-footer -->
	</form>
	</div>
	<!-- /.box-warning -->
    
</section>