<section class="content-header">
	<div class="fakeLoader"></div>
		<h1>
			Purchase
			<small> Contract</small>
		</h1>
		<ol class="breadcrumb">
			<li routerLinkActive="router-link-active">
				<a [routerLink]="['/contracts']" >
					<i class="fa fa-shopping-cart"></i> Contracts
				</a>
			</li> 
			<li>Purchase contract</li>       
		</ol>
</section>


<!--<form>-->
<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
			<div class="box box-warning ">
					<div class="box-header with-border">
							<h3 class="box-title">
								List Users					
							</h3>
					</div>
					 <!-- /.box-header -->   
					<div class="box-body">
						<table class="table table-hover table-condensed table-striped" 							
						>
							<tr>
								<th>Contract ID</th>
								<th>Signature Date:</th>
								<th>Contracted Party</th>
							</tr>
							<tr>
								
							</tr>
						</table>
					</div>   
					 <!-- /.box-body --> 
					 <div class="box-footer">
							<button type="button" class="btn btn-app" [routerLink]="['/contracts/new']"  >
								<i class="fa fa-plus-square-o"></i> New
							</button>
							<a class="btn btn-app ">
									<i class="fa fa-search"></i> Search
								</a>
								<a class="btn btn-app ">
										<i class="fa fa-file-text"></i> Report
									</a> 
						</div>
						<!-- /.box-footer -->
				</div>
				<!-- /.box-warning --> 
			</div>
		</div>


		<router-outlet></router-outlet>
	</section>
		

<!--	</form>-->
<div class="clearfix"></div>