
    
<div class="row">
    <div class="col-md-12">
        <section class="content">    
            <div class="box box-warning ">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Showind user # {{user.id}}				
                    </h3>
                </div>
                <!-- /.box-header -->   
                <div class="box-body">
  
                <table class="table table-hover table-condensed table-striped">
                
                    <tr>
                        <th>id</th>
                        <th>Username</th>
                        <th>Memberships</th>
                        <th>Actions</th>
                    </tr> 
                    <td>
                        {{user.id}}
                    </td>        
                    <td>
                        {{user.description}}
                    </td>    
                    <td>
                        <div *ngIf="user.membership && user.membership.length >=1">
                            <ul>
                                <li *ngFor="let u of user.membership">
                                    {{u}}
                                </li>
                            </ul>                           
                        </div>

                        <div *ngIf="user.membership && user.membership.length == 0">
                            No Memberships enabled
                        </div>                        
                    </td>
                    <td>                        
                        <span *ngIf="user.iduds006.id === 1" >
                            <button 
                                class="btn btn-danger btn-xs" 
                                (click)="onDisable(user.id)" > Disable </button>
                        </span>

                        <span *ngIf="user.iduds006.id === 2" >
                            <button class="btn btn-success btn-xs" (click)="onEnable(user.id)" >Enable </button>
                        </span>
                        <button *ngIf="user.iduds006.id === 1" class="btn btn-primary btn-xs" (click)="onEdit()"> Edit </button>
                    </td>
                </table>
            </div>
        </div>
        </section>
    </div>
</div>