<section class="content">
  <div class="row">
     <div class="col-sm-12 col-xs-12">
<div class="login-box">
  <div class="login-logo">
    <img src="assets/img/Upperdata-U-SOLA.png" width="30%"><br>
    <a ><b>UpperData</b> Administrative</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">      
    <div class="btn btn-success btn-xs btn-block" *ngIf="msgEmail">An email has been sent to {{ useremail }} </div>
    <div class="btn btn-danger btn-xs btn-block" *ngIf="e">{{ errorMsg }}</div>
    <div class="btn btn-success btn-xs btn-block" *ngIf="identity && identity.sub">
        Welcome Back {{ identity.description }}! Redirecting ...
  
      </div>
    <h4 class="login-box-msg"><b>
        {{ forgot ? "Input username for email instrucctions" : "Sign in to start your session" }}
      </b>
    </h4>   
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">    
      <div class="form-group has-feedback">
        <input 
          placeholder="Input your username..." 
          type="text" 
          name="username"                 
          class="form-control" 
          formControlName="username"
          required
        />        
        <span style="color:orange" class="fa fa-user form-control-feedback"></span>
        <span class="helper-block" 
          *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
          Username Not Valid!!
        </span>
      </div>


      <div class="form-group has-feedback" *ngIf="!forgot">
        <input 
          placeholder="input your secret password..." 
          name="password" 
          type="password"           
          [required] = "!forgot" 
          class="form-control" 
          formControlName="password"
        />
        <span style="color:orange" class="fa fa-key form-control-feedback" ></span>

        <span class="helper-block" 
          *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
          Password should Not be Empty!!
        </span>
                      
      </div>
      <div class="row">
       <!-- <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>-->
        <!-- /.col -->
        <div class="col-xs-4" *ngIf="!forgot">
           <button class="btn btn-warning btn-block btn-flat" 
           type="submit" 
           [disabled] = "!loginForm.valid">Login</button>
        </div>

        <div class="col-xs-4" *ngIf="forgot">
            <button class="btn btn-warning btn-block btn-flat" 
            type="button"
            (click)="onResetPassword()"
            [disabled] = "!loginForm.get('username').valid ">Reset</button>
         </div>

         <img src="assets/img/spinner50.gif" *ngIf="buttonLoading" width="15%" />
        <!-- /.col -->
      </div>
    </form>
    <hr>
   <!-- <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>-->
    <!-- /.social-auth-links -->

    <a (click)="forgot = true" *ngIf="!forgot">Forgot your passsword?</a>
    <a (click)="forgot = false" *ngIf="forgot">I remebered my password</a>    

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
</div>
</div>
</section>
 <div class="clearfix"></div>