<section class="content">
  <div class="row">
     <div class="col-sm-12 col-xs-12">
<div class="login-box">
  <div class="login-logo">
    <a ><b>UpperData</b> Administrative</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <div class="btn btn-danger btn-xs btn-block" *ngIf="e === true">{{ errorMsg }}</div>
    <div class="btn btn-success btn-xs btn-block" *ngIf="identity && identity.sub">
        Welcome Back {{ identity.description }}! Redirecting ...
  
      </div>
    <p class="login-box-msg">Sign in to start your session</p>   
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">    
      <div class="form-group has-feedback">
        <input 
          placeholder="UserName" 
          type="text" 
          name="username"                 
          class="form-control" 
          formControlName="username"
        />        
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <span class="helper-block" 
          *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
          Username Not Valid!!
        </span>
      </div>
      <div class="form-group has-feedback">
        <input 
          placeholder="password" 
          name="password" 
          type="password"           
          required 
          class="form-control" 
          formControlName="password"
        />
        <span class="glyphicon glyphicon-lock form-control-feedback" ></span>

        <span class="helper-block" 
          *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
          Password should Not be Empty!!
        </span>
                      
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
           <button class="btn btn-primary btn-block btn-flat" 
           type="submit" 
           [disabled] = "!loginForm.valid">Login</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

   <!-- <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>-->
    <!-- /.social-auth-links -->

    <a href="#">I forgot my password</a><br>
    <a href="register.html" class="text-center">Register a new membership</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
</div>
</div>
</section>
 <div class="clearfix"></div>