<!-- Title content -->
<section class="content-header">
	<h1> <small>Password Reset</small></h1>
	<ol class="breadcrumb">
		<li class="active"><a [routerLink]="['/']" routerLinkActive="router-link-active" ><i class="fa fa-dashboard"></i> Main</a></li>
	</ol>
</section>

<div class="row">
  <div class="col-sm-6">
      
      <section class="content">          
          <div class="box box-warning ">
              <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
                <div class="box-header with-border">                                
                  <div class="col-sm-12">
                      <h3 class="box-title">Search and Reset Password</h3>
                  </div>                
                </div>
                <!-- /.box-header -->   
                <div class="box-body">  
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="description">* username: </label>
                      <input 
                        type="text" 
                        class="form-control" 
                        id="description" 
                        name="description" [(ngModel)]="user.description" 
                        #username="ngModel"
                        required 
                        minlength="4" 
                      >
                    </div>       
                  </div>
                  <div class="col-sm-6">                    
                      <button 
                      type="submit" 
                      class="btn btn-app" 
                      [disabled] = "!f.valid"  >
                      <i class="fa fa-hdd-o"></i> Search
                    </button>
                    <img src="assets/img/spinner50.gif" *ngIf="buttonLoading" width="10%" />
                  </div>
                </div>   
                <!-- /.box-body -->                 
              </form>
            </div>
            <!-- /.box-warning --> 
      
        </section>        
        
  </div>
  <div class="col-sm-6">
    <div class="label label-danger" *ngIf="!found" >
      {{ msg }}
    </div>
    <router-outlet *ngIf="found"></router-outlet>   
  </div>
  
</div>
         

